[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
pandas = "*"
numexpr = "*"   # for speedups
bottleneck = "*"   # for speedups
scipy = "*"   # to load .mat files
matplotlib= "*"
Pillow = "*"

[dev-packages]

[requires]
python_version = "3.7"
