[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
scipy = "*"   # to load .mat files
matplotlib = "*"
Pillow = "*"
numpy = "*"
keras = "*"
# Pandas optional deps
numexpr = "*"   # for speedups
bottleneck = "*"   # for speedups
pandas = "*"
## PyTorch optional deps
torch = "*"
torchvision = "*"
tensorflow = "*"
opencv-python = "*"
torchsummary = "*"
h5py = "*"
tqdm = "*"

[dev-packages]

[requires]
python_version = "3.6.7"
